@font-face {
  font-family: 'icomoon';
  src:  url('img-label/icomoon.eot?a68enj');
  src:  url('img-label/icomoon.eot?a68enj#iefix') format('embedded-opentype'),
    url('img-label/icomoon.ttf?a68enj') format('truetype'),
    url('img-label/icomoon.woff?a68enj') format('woff'),
    url('img-label/icomoon.svg?a68enj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Black_burst:before {
  content: "\e600";
}
.icon-black_flame:before {
  content: "\e601";
}
.icon-Black_Heart:before {
  content: "\e602";
}
.icon-Black_Star:before {
  content: "\e603";
}
.icon-Fire_black:before {
  content: "\e604";
}
.icon-Fire:before {
  content: "\e605";
}
.icon-GF_1:before {
  content: "\e606";
}
.icon-GF_white .path1:before {
  content: "\e607";
  color: rgb(255, 255, 255);
}
.icon-GF_white .path2:before {
  content: "\e608";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-GF_white .path3:before {
  content: "\e609";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-GF_white .path4:before {
  content: "\e60a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-GF:before {
  content: "\e60b";
}
.icon-Green_Pep:before {
  content: "\e60c";
}
.icon-NOWHEAT:before {
  content: "\e60d";
}
.icon-red_flame .path1:before {
  content: "\e60e";
  color: rgb(183, 32, 37);
}
.icon-red_flame .path2:before {
  content: "\e60f";
  margin-left: -1em;
  color: rgb(243, 117, 33);
}
.icon-red_flame .path3:before {
  content: "\e610";
  margin-left: -1em;
  color: rgb(255, 197, 10);
}
.icon-Red_Heart:before {
  content: "\e611";
}
.icon-Red_Pep:before {
  content: "\e612";
}
.icon-Red_Star:before {
  content: "\e613";
}
.icon-V:before {
  content: "\e614";
}
.icon-VG:before {
  content: "\e615";
}
.icon-WF_COLOR .path1:before {
  content: "\e616";
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path2:before {
  content: "\e617";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path3:before {
  content: "\e618";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path4:before {
  content: "\e619";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path5:before {
  content: "\e61a";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path6:before {
  content: "\e61b";
  margin-left: -1em;
  color: rgb(212, 25, 32);
}
.icon-WF_COLOR .path7:before {
  content: "\e61c";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path8:before {
  content: "\e61d";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path9:before {
  content: "\e61e";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path10:before {
  content: "\e61f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-WF_COLOR .path11:before {
  content: "\e620";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path12:before {
  content: "\e621";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path13:before {
  content: "\e622";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path14:before {
  content: "\e623";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-WF_COLOR .path15:before {
  content: "\e624";
  margin-left: -1em;
  color: rgb(253, 189, 16);
}
.icon-WF_COLOR .path16:before {
  content: "\e625";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-WF_COLOR .path17:before {
  content: "\e626";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-WF_COLOR .path18:before {
  content: "\e627";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Yellow_burst:before {
  content: "\e628";
}
.icon-MHM_Icons_arrow_black_2:before {
  content: "\e629";
}
.icon-MHM_Icons_R3_black_2:before {
  content: "\e62a";
}
.icon-MHM_Icons_R4_black_2:before {
  content: "\e62b";
}
.icon-MHM_Icons_dot_black_2:before {
  content: "\e62c";
}
.icon-MHM_Icons_R2_black_2:before {
  content: "\e62d";
}
.icon-MHM_Icons_R1_black_2:before {
  content: "\e62e";
}
.icon-MHM_Icons_checkbox_black2:before {
  content: "\e62f";
}
.icon-MHM_Icons_U_outlined:before {
  content: "\e900";
}
.icon-MHM_Icons_ContainsNuts:before {
  content: "\e901";
}
.icon-MHM_Icons_NoNuts:before {
  content: "\e902";
}
.icon-MHM_Icons_NEW_Rotated:before {
  content: "\e903";
}
.icon-MHM_Icons_NEW_Circle:before {
  content: "\e904";
}

